@model List<FbEvent>
@using EventsProvider;

@{
    ViewBag.Title = "Toruńskie Wydarzenia";
    Layout = "../Shared/_Layout.cshtml";
}
<head>
    <title>Bootstrap Case</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@(this.ViewBag.Category == FbCategory.IT ? "active" : "")">
                        @Html.ActionLink("IT", "Index", new { Id = (int)FbCategory.IT })
                    </li>
                    <li class="@(this.ViewBag.Category == FbCategory.Imprezy ? "active" : "")">
                        @Html.ActionLink("Impreza", "Index", new { Id = (int)FbCategory.Imprezy })
                    </li>
                    <li class="@(this.ViewBag.Category == FbCategory.Sport ? "active" : "")">
                        @Html.ActionLink("Sport", "Index", new { Id = (int)FbCategory.Sport })
                    </li>
                    <li class="@(this.ViewBag.Category == FbCategory.Kulinaria ? "active" : "")">
                        @Html.ActionLink("Kulinaria", "Index", new { Id = (int)FbCategory.Kulinaria })
                    </li>
                </ul>
            </div>
        </div>
    </nav>
   @if (Model.Count > 0)
   {


       <div class="row" style="margin-top: 70px">
           @for (int i = 0; i < Model.Count; i++)
           {
               string eventUrl = string.Format("http://www.facebook.com/events/{0}", Model[i].EventId);
               string ownerUrl = string.Format("http://www.facebook.com/{0}", Model[i].OwnerId);
               <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                   <div class="panel panel-primary" style="height: 440px;">
                       <div class="panel-heading" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                           <span>@Html.DisplayFor(m => m[i].Name)</span>
                       </div>
                       <div class="panel-body">
                           <div style="overflow-y: scroll; height: 200px;">
                               <span>@Html.DisplayFor(m => m[i].Description)</span>
                           </div>
                           <div style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-top: 10px;">
                               <span>@Html.LabelFor(m => m[i].Location)</span>
                               <span>@Html.DisplayFor(m => m[i].Location)</span>
                           </div>
                           <div>
                               <span><a href="@ownerUrl">Organizator</a></span>
                           </div>
                           <div style="margin-top: 5px;">
                               <span>@Html.LabelFor(m => m[i].StartDate)</span>
                               <span>@Html.DisplayFor(m => m[i].StartDate)</span>
                           </div>
                           <div>
                               <span><a href="@eventUrl">@eventUrl</a></span>
                           </div>
                           <div>
                               <img class="img-responsive" src="@Model[i].PicSmallUrl" style="margin: 10px auto 0 auto;"/>
                           </div>
                       </div>
                   </div>
               </div>
           }
       </div>
   }
   else
   {
       <div  style="margin-top: 100px">
            <p>Brak wyników </p>
    </div>
   }
</div>