@model List<FbEvent>
@using EventsProvider;

@{
    ViewBag.Title = "Title some";
    Layout = "../Shared/_Layout.cshtml";
}
<head>
    <title>Bootstrap Case</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>


<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    @Html.ActionLink("IT", "Index", new { Id = (int)FbCategory.It })
                </li>
                <li>
                    @Html.ActionLink("Impreza", "Index", new { Id = (int)FbCategory.Party })
                </li>
                <li>
                    @Html.ActionLink("Sport", "Index", new { Id = (int)FbCategory.Sport })
                </li>
                <li>
                    @Html.ActionLink("Kulinaria", "Index", new { Id = (int)FbCategory.Culinary })
                </li>
            </ul>
        </div>
    </div>
</nav>
@*<div class="jumbotron">
    <h1>Navbar example</h1>*@
    @*<p lingdex="0">This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
    <p lingdex="1">To see the difference between static and fixed top navbars, just scroll.</p>
    <p lingdex="2">
        <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs »</a>
    </p>*@
    @for (int i = 0; i < Model.Count; i++)
    {
        <div style="margin-bottom: 10px;">
            <div>
                @Html.LabelFor(m => m[i].Name)
                @Html.DisplayFor(m => m[i].Name)
            </div>
            <div>
                @Html.LabelFor(m => m[i].Description)
                @Html.DisplayFor(m => m[i].Description)
            </div>
            <div>
                @Html.LabelFor(m => m[i].Location)
                @Html.DisplayFor(m => m[i].Location)
            </div>
            <div>
                @Html.LabelFor(m => m[i].Owner)
                @Html.DisplayFor(m => m[i].Owner)
            </div>
            <div>
                @Html.LabelFor(m => m[i].StartDate)
                @Html.DisplayFor(m => m[i].StartDate)
            </div>
        </div>
    }
